<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div>
        <h2>パーツ</h2>
      </div>
    </div>

    <div class="col-6">
      <h2>合計</h2>
    </div>
  </div>
</div>